<template>
  <div class="">
    <div class="breadcrumbs">
      <router-link
        tag="small"
        :to="{ name: 'todos-index' }"
        class="text-grey-500 breadcrumbs-item"
        >List</router-link
      >
    </div>
    <h2 style="margin-bottom: 16px;">Todo app</h2>
    <div class="card-wrapper">
      <div class="card-header">
        <div style="flex-grow: 1;">
          <h3>Todos list</h3>
          <p>Watch your actions</p>
        </div>
        <router-link
          :to="{ name: 'todos-details' }"
          style="text-decoration: none;"
          class="peripheral-link"
        >
          Go to edit <i class="fe fe-arrow-right"></i>
        </router-link>
      </div>
      <div v-if="todos && todos.length" class="">
        <div
          v-for="(todo, $todoIndex) in todos"
          :key="$todoIndex"
          :class="$todoIndex % 2 === 0 && 'bg-grey-50'"
          :style="$todoIndex === todos.length - 1 && 'border-radius: 0.5rem;'"
          class="list-item"
        >
          <TodoIndexRow :todo="todo" :todoIndex="$todoIndex" />
        </div>
      </div>
      <div v-else class="list-item">
        Nothing to do :)
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  components: {
    TodoIndexRow: () => import('../components/TodoIndexRow'),
  },
  computed: {
    ...mapState({
      todos: state => state.todos,
    }),
  },
}
</script>
