<template>
  <div class="">
    <div class="breadcrumbs">
      <router-link
        tag="small"
        :to="{ name: 'todos-index' }"
        class="text-grey-500 breadcrumbs-item"
        >List</router-link
      >
      <i class="fe fe-chevron-right breadcrumbs-icon"></i>
      <small class="text-grey-500 breadcrumbs-item" style="cursor: default;"
        >Details</small
      >
    </div>
    <h2 style="margin-bottom: 16px;">Todos app</h2>
    <div class="card-wrapper">
      <div class="card-header">
        <div class="">
          <h4>Todos details</h4>
          <p>Edit your plan</p>
        </div>
      </div>
      <div v-if="todos && todos.length" class="">
        <div
          v-for="(todo, $todoIndex) in todos"
          :key="$todoIndex"
          :class="$todoIndex % 2 === 0 && 'bg-grey-50'"
          class="list-item"
          :style="todo.editing && 'border: 1px dashed #98AEEB;'"
        >
          <TodoDetailsRow :todo="todo" :todoIndex="$todoIndex" />
        </div>
      </div>
      <div v-else class="list-item">
        Nothing to do :)
      </div>
      <div class="card-footer">
        <div class="" style="width: 75%;">
          <input
            v-model="newTodo.title"
            class="input"
            type="text"
            placeholder="+ Add new todo"
            @keyup.enter="createTask()"
          />
          <input
            v-model="newTodo.description"
            class="input"
            style="font-size: 14px;"
            type="text"
            placeholder="+ Add description"
            @keyup.enter="createTask()"
          />
        </div>

        <div
          v-show="newTodo.title"
          class="button-container"
          style="margin-top: auto;"
        >
          <button
            @click.prevent="createTask()"
            class="button button-indigo"
            style="margin-left: auto, "
          >
            Add todo
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  components: {
    TodoDetailsRow: () => import('../components/TodoDetailsRow'),
  },
  data() {
    return {
      newTodo: {
        title: '',
        description: '',
      },
    }
  },
  computed: {
    ...mapState({
      todos: state => state.todos,
    }),
  },
  methods: {
    createTask() {
      this.$store.commit('CREATE_TODO', this.newTodo)
      this.newTodo = {
        title: '',
        description: '',
      }
    },
  },
}
</script>
<style lang="scss">
.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 4px;
  &-item {
    &:hover {
      color: #486581;
      cursor: pointer;
    }
  }
  &-icon {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.button-container {
  width: 25%;
  display: flex;
}
</style>
