<template>
  <div class="" style="display: flex">
    <div class="checkbox-container" style="cursor: default;">
      <span @click="show(todo.checked)" v-if="todo.checked" class="checkmark"
        ><i class="fe fe-check"></i
      ></span>
    </div>
    <div style="width: 70%;">
      <h4 style="margin-bottom: 8px;" :style="!todo.title && 'color: #9FB3C8'">
        {{ todo.title || 'No title' }}
      </h4>
      <p :style="!todo.description && 'color: #BCCCDC'">
        {{ todo.description || 'No description' }}
      </p>
    </div>
    <BaseDropdown
      :dropdown="dropdown"
      @handleDropdown="dropdown = !dropdown"
      style="margin-left: auto;"
    >
      <template #dropdownContent>
        <div @click="editTodo" class="dropdown-item">
          <i class="fe fe-edit" style="margin-right: 8px;"> </i>Edit
        </div>
        <div @click="openModal" class="dropdown-item">
          <i class="fe fe-trash" style="color: #EF4E4E; margin-right: 8px;"> </i
          >Delete
        </div>
      </template>
    </BaseDropdown>
    <BaseModal :show="modal" @action="deleteTodo" @close="modal = false">
    </BaseModal>
  </div>
</template>

<script>
export default {
  props: {
    todo: {
      type: Object,
      default: null,
    },
    todoIndex: {
      type: [String, Number],
      required: true,
    },
  },
  data() {
    return {
      dropdown: false,
      modal: false,
    }
  },
  methods: {
    openModal() {
      this.modal = !this.modal
      this.dropdown = !this.dropdown
    },
    deleteTodo() {
      this.$store.commit('DELETE_TODO', this.todoIndex)
      this.modal = !this.modal
    },
    editTodo() {
      this.$store.commit('SET_EDITING', { todo: this.todo, value: true })
      this.$router.push({ name: 'todos-details' })
    },
  },
}
</script>

<style></style>
