<template>
  <div class="" style="width: 100%; display:flex">
    <template v-if="!todo.editing">
      <div @click="checkTodo" class="checkbox-container">
        <input type="checkbox" v-model="checked" style="opacity: 0;" />
        <span v-if="checked" class="checkmark"><i class="fe fe-check"></i></span>
      </div>
      <div style="width: 70%;">
        <h4 style="margin-bottom: 8px;" :style="!title && 'color: #9FB3C8'">
          {{ title || 'No title' }}
        </h4>
        <p :style="!description && 'color: #BCCCDC'">
          {{ description || 'No description' }}
        </p>
      </div>

      <BaseDropdown
        :dropdown="dropdown"
        @handleDropdown="dropdown = !dropdown"
        style="margin-left: auto;"
      >
        <template #dropdownContent>
          <div @click="enableEditing" class="dropdown-item">
            <i class="fe fe-edit" style="margin-right: 8px;"> </i>Edit
          </div>
          <div @click="openModal" class="dropdown-item">
            <i class="fe fe-trash" style="color: #EF4E4E; margin-right: 8px;"> </i
            >Delete
          </div>
        </template>
      </BaseDropdown>
    </template>
    <template v-else>
      <div @click="checked = !checked" class="checkbox-container">
        <input
          type="checkbox"
          @keyup.enter.exact="updateTodo"
          v-model="checked"
          style="opacity: 0;"
        />
        <span v-if="checked" class="checkmark"><i class="fe fe-check"></i></span>
      </div>
      <div style="width: 70%;">
        <input
          v-model="title"
          class="input"
          style="font-weight: 600; padding-top: 0px;"
          type="text"
          placeholder="+ Add new todo"
        />
        <textarea
          class="input"
          style="padding: 0px;"
          placeholder="+ Add description"
          rows="2"
          v-model="description"
          @keyup.enter.exact="updateTodo"
        >
        </textarea>
      </div>
      <div class="editing-links-container" style="margin-left: auto;">
        <span
          @click="handleRevert"
          class="peripheral-link"
          style="padding-right: 4px; padding-bottom: 4px;"
        >
          <i class="fe fe-corner-up-left"></i> Abort</span
        >
        <span @click="updateTodo" class="peripheral-link" style="padding-left: 4px; padding-bottom: 4px;"
          ><i class="fe fe-save" style="color: #65D6AD;"></i> Save</span
        >
      </div>
    </template>

    <BaseModal :show="modal" @action="deleteTodo" @close="modal = false">
    </BaseModal>
    <BaseModal
      :show="modalRevert"
      @action="cancelEditing"
      @close="handleRevert"
      action-button-class="yellow"
    >
      <template #content>
        <div class="icon-round" style="background-color: #FCEFC7">
          <div class="fe fe-alert-triangle" style="color: #513C06;"></div>
        </div>
        <div class="card-body-content">
          <h5>Warning</h5>
          <p>
            You are going to revert changes. Are you sure ?
          </p>
        </div>
      </template>
      <template #action-button-content>
        Revert
      </template>
    </BaseModal>

    <!-- <div v-if="modalRevert" class="modal-layout" style=" z-index: 999;">
      <div class="modal-overlay" style="z-index: 30;"></div>

      <div class="card-wrapper modal-card">
        <div class="card-body">
          
        </div>
        <div class="card-footer">
          <div class="buttons-container">
            <div
              @click="handleRevert"
              class="peripheral-link"
              style="margin-right: 12px;"
            >
              Abort
            </div>
            <div @click="cancelEditing" class="button button-red">
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'table-row',
  props: {
    todo: {
      type: Object,
      default: null,
    },
    todoIndex: {
      type: [String, Number],
      required: true,
    },
  },
  data() {
    return {
      dropdown: false,
      description: '',
      title: '',
      checked: false,
      editting: false,
      modal: false,
      modalRevert: false,
    }
  },
  computed: {
    ...mapState({
      todos: state => state.todos,
    }),
  },
  created() {
    this.description = this.todo.description
    this.title = this.todo.title
    this.checked = this.todo.checked
  },
  methods: {
    updateTodo() {
      this.$store.commit('UPDATE_TODO', {
        todo: this.todo,
        description: this.description,
        title: this.title,
        checked: this.checked,
      })
      this.cancelEditing()
    },
    checkTodo() {
      this.checked = !this.checked
      this.$store.commit('CHECK_TODO', {
        todo: this.todo,
        checked: this.checked,
      })
    },
    handleRevert() {
      if (
        this.description !== this.todo.description ||
        this.title !== this.todo.title
      ) {
        this.modalRevert = !this.modalRevert
        return
      }
      this.cancelEditing()
    },
    openModal() {
      this.modal = !this.modal
      this.dropdown = !this.dropdown
    },
    deleteTodo() {
      this.$store.commit('DELETE_TODO', this.todoIndex)
      this.modal = !this.modal
    },
    enableEditing() {
      this.$store.commit('SET_EDITING', { todo: this.todo, value: true })
      this.dropdown = !this.dropdown
    },
    cancelEditing() {
      this.description = this.todo.description
      this.title = this.todo.title
      this.$store.commit('SET_EDITING', { todo: this.todo, value: false })
      this.modalRevert = false
    },
  },
}
</script>

<style lang="scss">
.editing-links-container {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}
</style>
