<template>
  <div id="app">
    <div class="layout">
      <div class="container">
        <router-view />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.slide-enter-active {
  transition: 300ms ease-out;
}

.slide-leave-active {
  transition: 300ms ease-out;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
.slide-leave,
.slide-enter-to {
  transform: translateX(100%);
  opacity: 1;
}

.layout {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 500px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.675rem;
    padding-right: 0.675rem;
  }
  @media screen and (max-width: 380px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.675rem;
    padding-right: 0.675rem;
  }
}

.container {
  width: 40rem;
}
</style>
