.button {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  justify-content: center;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color, color, fill, stroke, opacity,
    box-shadow, transform;
  color: white;
  line-height: 1.5;
  font-weight: 500;
  border-radius: 0.375rem;
  border-color: transparent;
  font-family: 'Poppins', sans-serif;
  touch-action: manipulation;
  user-select: none;
  &-indigo {
    background-color: $indigo;
    &:hover {
      background-color: $indigo-500;
    }
    &:focus {
      border-color: $indigo-300;
    }
  }
  &-red {
    background-color: $red;
    &:hover {
      background-color: $red-500;
    }
    &:focus {
      border-color: $red-300;
    }
  }
  &-yellow {
    background-color: $yellow;
    color: #513C06;
    &:hover {
      background-color: $yellow-500;
    }
    &:focus {
      border-color: $yellow-300;
    }
  }
  &-transparent {
    background-color: transparent;
    color: black;
    &:hover {
      background-color: transparent;
      color: $indigo-300;
    }
    &:focus {
      border-color: transparent;
    }
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px;
  }
  &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}
