
.card-wrapper {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background: white;
    border-radius: 0.5rem;
  }
  .card-header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
  }
  .card-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .card-footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-top: 1px solid #e5e7eb;
    display: flex;
    flex-direction: row;
  }
  