.dropdown {
  line-height: 1.5;
  text-align: left;
  box-sizing: border-box;
  border: 0 solid #d2d6dc;
  border-radius: 0.375rem;
  margin-top: 0.5rem;
  position: absolute;
  right: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 14rem;
  transform-origin: top right;
  z-index: 10;
  &-wrapper {
    line-height: 1.5;
    display: inline-block;
    position: relative;
    text-align: left;
  }
  &-button {
    box-sizing: border-box;
    border: 0 solid #d2d6dc;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    background-image: none;
    cursor: pointer;
    background-color: #fff;
    border-color: #d2d6dc;
    border-radius: 0.375rem;
    border-width: 1px;
    display: inline-flex;
    justify-content: center;
    font-weight: 500;
    line-height: 1.25rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: #374151;
    font-size: 0.775rem;
    width: 100%;
    transition-property: background-color, border-color, color, fill, stroke, opacity,
      box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  &-content {
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    border: 0 solid #d2d6dc;
    background-color: #fff;
    border-radius: 0.375rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  }
  &-item {
    text-align: left;
    box-sizing: border-box;
    border: 0 solid #d2d6dc;
    background-color: transparent;
    text-decoration: inherit;
    display: block;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #374151;
    font-size: 0.875rem;
    &:hover {
      color: $gray-900;
      background-color: $gray-100;
      cursor: pointer;
    }
  }
}
