$blue: #2c7be5 !default;
$indigo: #8719e0 !default;
$indigo-500: #9446ed !default;
$indigo-300: #b990ff !default;

$gray-100: #f0f4f8 !default;
$gray-500: #829ab1 !default;
$gray-700: #486581 !default;
$gray-900: #243b53 !default;
$red-300: #ff9b9b !default;
$red-500: #ef4e4e !default;
$red: #e63757 !default;
$yellow-300: #F8E3A3 !default;
$yellow-500: #F7D070 !default;
$yellow: #E9B949 !default;


$purple: #6b5eae !default;
$pink: #ff679b !default;
$orange: #fd7e14 !default;
$yellow: #f6c343 !default;
$green: #00d97e !default;
$teal: #02a8b5 !default;
$cyan: #39afd1 !default;
