@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import './feather//feather.min.css';
@import './variables';
@import './dropdown';
@import './card';
@import './buttons';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Inter', sans-serif;
  background-color: #f4f5f7;
  box-sizing: border-box;
}

#app {
  font-family: 'Poppins', 'Inter', sans-serif;
}

.peripheral-link {
  color: $gray-700;
  font-size: 14px;
  &:hover {
    cursor: pointer;
    color: $indigo-500;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out(0.4, 0, 0.2, 1);
  }
  &:focus {
    outline: none;
    color: $gray-900;
  }
}
.checkbox-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-right: 12px;
  margin-top: 2px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  position: relative;
  height: 1.25em;
  width: 1.25em;
  cursor: pointer;
  user-select: none;
}
.checkmark {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-container .checkmark {
  background-color: #4098d7;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.card-body-content {
  padding: 12px;
}
.input {
  display: block;
  width: 100%;
  padding: 8px;
  padding-left: 0;
  border: none;
  background-color: transparent;
  outline: none;
  &:focus {
    border: none;
    box-shadow: none;
  }
}
.list-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  box-sizing: border-box;
  border: 0 solid #d2d6dc;
  @media screen and (max-width: 500px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.675rem;
    padding-right: 0.675rem;
  }
}

.bg-grey-50 {
  background-color: #f9fafb;
}

.text-indigo {
  color: $indigo;
}

.text-gray-500 {
  color: #6b7280;
}

input[type='text'] {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

textarea {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin: 0;
}
h2 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}

p {
  font-size: 14px;
  word-break: break-all;
  margin: 0;
}
