<template>
  <transition name="fade">
    <div v-show="show" class="modal-layout" style="z-index: 100;">
      <div @click.self="close" class="modal-overlay"></div>
      <transition name="elevate">
        <div v-if="card" class="card-wrapper modal-card" style="z-index: 110;">
          <div class="card-body">
            <slot name="content">
              <div class="icon-round">
                <div class="fe fe-alert-triangle" style="color: #AB091E;"></div>
              </div>
              <div class="card-body-content">
                <h5>Warning</h5>
                <p>
                  You are going to delete todo from list. Are you sure ?
                </p>
              </div>
            </slot>
          </div>
          <div class="card-footer">
            <div class="buttons-container">
              <div
                @click="close"
                class="peripheral-link"
                style="margin-right: 12px;"
              >
                Abort
              </div>
              <div
                @click="action"
                :class="`button button-${actionButtonClass || 'red'}`"
              >
                <slot name="action-button-content">
                  Delete
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    actionButtonClass: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      overlay: false,
      card: false,
    }
  },
  watch: {
    show: {
      handler(val) {
        if (val) {
          this.card = true
        }
      },
    },
  },
  methods: {
    close() {
      this.card = false
      this.$emit('close')
    },
    action() {
      this.$emit('action')
    },
  },
}
</script>

<style lang="scss">
.elevate-leave-active {
  transition: 200ms ease-in;
}
.elevate-enter-active {
  transition: 300ms ease-out;
}
.elevate-enter,
.elevate-leave-to {
  transform: translateY(1rem) scale(0.95);
  opacity: 0;
}
.elevate-enter-to,
.elevate-leave {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.fade-leave-active {
  transition: 200ms ease-in;
}
.fade-enter-active {
  transition: 300ms ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.modal-layout {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-overlay {
  background-color: #486581;
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-card {
  z-index: 50;
  background: white;
  margin: auto;
}
.icon-round {
  padding: 12px;
  background: #ffe3e3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
</style>
