<template>
  <div class="dropdown-wrapper">
    <div class="">
      <div
        @click="handleDropdown()"
        class="dropdown-button"
        style="display: flex; align-items: center;"
      >
        <slot name="button-content">
          {{ buttonTitle }} <i class="fe fe-chevron-down"></i>
        </slot>
      </div>
    </div>
    <transition name="dropdown">
      <div v-if="dropdown" class="dropdown">
        <div class="dropdown-content">
          <div style="padding-top: 4px; padding-bottom: 4px;">
            <slot name="dropdownContent"> </slot>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    dropdown: {
      type: Boolean,
      default: false,
    },
    buttonTitle: {
      type: String,
      default: 'Options',
    },
  },
  methods: {
    handleDropdown() {
      this.$emit('handleDropdown')
    },
  },
}
</script>

<style lang="scss">
.dropdown-leave-active {
  transition: 75ms ease-out;
}
.dropdown-enter-active {
  transition: 100ms ease-out;
}
.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: scale(0.95);
}
.dropdown-enter-to,
.dropdown-leave {
  opacity: 1;
  transform: scale(1);
}
</style>
